/node_modules
/public/hot
/public/index.php
/public/.htaccess
/public/storage
/storage/app/public
/storage/storage/framework/views
/storage/framework/views/
/storage/framework/views/
/storage/framework/cache/
/storage/framework/sessions/
/storage/*.key
/vendor
/storage/logs/laravel.log
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
# Ignorar archivos subidos en storage
/storage/app/public/*
!/storage/app/public/.gitkeep
# archivos grandes / backups locales
*.zip
# logs locales
/storage/logs/*.log
